@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #0b0084;
  --primary-hover: #2718c5;
  --card: #eb8012;
  --border: #eb8012;

}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --card: #eb8012;
    --border: #eb8012;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-barlow), var(--font-noto-sans-thai), sans-serif;
}
.bg-card {
  background-color: var(--card);
  border: 1px solid var(--border);
}
.bg-primary {
  background-color: var(--primary);
}
.bg-border {
  border: 1px solid var(--primary);
}
.text-primary {
  color: var(--primary);
}
.text-black {
  color: var(--foreground);
}